/config/.emacs.d/*~
/config/.emacs.d/backups
/config/.emacs.d/auto-save-list
/config/.emacs.d/init.el~
/config/.emacs.d/recentf
/config/.emacs.d/transient
/config/.emacs.d/elpa
/config/.emacs.d/eln-cache
/config/.emacs.d/recetf
/config/hypr/hyprland-bak.lua